<footer>
  <div>
    <div class="icons-social">
      <a
        href="https://github.com/{{ site.github_username | cgi_escape | escape }}"
        target="_blank"
        ><i class="fab fa-github"></i
      ></a>
      <a
        href="https://scholar.google.com/citations?user={{ site.google_scholar_id | cgi_escape | escape }}"
        target="_blank"
        ><i class="ai ai-google-scholar"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/{{ site.linkedin_username | cgi_escape | escape }}"
        target="_blank"
        ><i class="fab fa-linkedin-in"></i
      ></a>
    </div>
  </div>
</footer>
