<footer>
  <div>
    <div class="icons-social">
      {% if site.github_username %}
      <a
        href="https://github.com/{{ site.github_username | cgi_escape | escape }}"
        target="_blank"
        ><i class="fab fa-github"></i
      ></a>
      {% endif %} {% if site.google_scholar_id %}
      <a
        href="https://scholar.google.com/citations?user={{ site.google_scholar_id | cgi_escape | escape }}"
        target="_blank"
        ><i class="ai ai-google-scholar"></i
      ></a>
      {% endif %} {% if site.linkedin_username %}
      <a
        href="https://www.linkedin.com/in/{{ site.linkedin_username | cgi_escape | escape }}"
        target="_blank"
        ><i class="fab fa-linkedin"></i
      ></a>
      {% endif %} {% if site.twitter_username %}
      <a
        href="https://twitter.com/{{ site.twitter_username | cgi_escape | escape }}"
        target="_blank"
        ><i class="fab fa-twitter"></i
      ></a>
      {% endif %}
    </div>
  </div>
</footer>
