<header class="header">
  {% assign default_paths = site.pages | sort: 'title' | map: "path" %} {%
  assign page_paths = site.header_pages | default: default_paths %}
  <div>
    <a rel="author" href="{{ '/' | relative_url }}"> Home </a>
    {% if page_paths %} {% for path in page_paths %} {% assign my_page =
    site.pages | where: "path", path | first %} {% if my_page.title %} {% if
    my_page.title == "Thesis" or my_page.title == "CV" %}
    <!-- open in new tab -->
    <a href="{{ my_page.url | relative_url }}" target="_blank"
      >{{ my_page.title | escape }}</a
    >
    {% else %}
    <!-- open in current tab -->
    <a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
    {% endif %} {% endif %} {% endfor %} {% endif %}
  </div>
</header>
