---
---

@import "{{ site.theme }}";

a,
a:visited {
  text-decoration: none;
  color: #b5e853;
  position: relative;
  z-index: 9999;
}

a:hover,
a:focus {
  color: forestgreen;
}

b {
  color: #b5e853;
}

header {
  border: none;
  background: none;
}

header h1 {
  margin: 0 0 0 0;
}

header h1:before {
  content: "";
}

footer {
  text-align: center;
}

ul {
  display: inline-block;
  text-align: left;
  margin: 0;
}

ul li {
  list-style: none;
}

/* header.html */

.header {
  margin: auto;
  text-align: center;
}

/* footer.html */

.icons-social i {
  font-size: 3em;
  padding: 10px;
  color: #b5e853;
}

/* index.html */

.intro {
  text-align: center;
  margin: 15% 0 0 0;
}

/* about.html */

#left {
  text-align: center;
}

#right {
  text-align: left;
}

.profile-pic {
  border-radius: 50%;
}

/* code.html */

.code h4 {
  color: white;
}

/* 404.html */

.four-zero-four {
  margin: 7.5% 0 0 0;
  text-align: center;
}

.four-zero-four h1 {
  font-size: 4em;
}

@media only screen and (max-width: 40em) {
  tr {
    text-align: center;
  }

  td {
    display: inline-block;
  }
}
