---
name: Add issues to project board

on:
  issues:
    types:
      - opened
  pull_request:
    types:
      - opened

jobs:
  add-issue-to-project:
    runs-on: ubuntu-latest
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/add-to-project@2900a170a05fafa6d18c036e488235ae8c02fa59 # v0
        with:
          project-token: ${{ secrets.PROJECT_PAT }}
