---
name: Link Check Source

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  links:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/links@38f0d7e429cc1e3366331dba6ab7a656f9aa01e2 # v0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          lychee-args:
            --exclude '%7B%7B%20.*?' --exclude
            'https://scholar.google.com/citations\?user=.*' --no-progress
            --verbose .
