---
name: Linting

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/linting@2900a170a05fafa6d18c036e488235ae8c02fa59 # v0
        with:
          pre-commit-config: ./.pre-commit-config.yaml

      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/vale@2900a170a05fafa6d18c036e488235ae8c02fa59 # v0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
